{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

{% if search %}
        <h2>Searching for {{ query }}</h2>
        
    {% else %}
        <h1 class="alert col-lg-11" style="background-color:rgb(163, 112, 112);text-align: center;">All Pages</h1></br>        
    {% endif %}

    
        {% for entry in entries %}
            <a href="/wiki/{{ entry }}" class="list-group-item list-group-item-action list-group-item-warning col-lg-9" style="text-align: center;margin-left: 8%;margin-right: 8%;margin-bottom:2px;">{{ entry }}</a>
        {% endfor %}
    

{% endblock %}