{% extends "auctions/layout.html" %}

{% block body %}
    
<div class="container-fluid">
    <h2 class="alert alert-dark" role="alert" style="text-align: center;">Categories</h2>
    <div class="row">

        {% for category in categories %}
          
            
            <div class="col-lg-2 w-auto p-3 card" style="width: 16rem;margin: 4%;text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">{{ category }}</h5>
                  <a href="{% url 'filtered_categories' category %}" class="btn btn-secondary">Go to {{ category }} category</a>
                </div>
              </div>
        
        {% endfor %}
    </div>
        
    </div>



{% endblock %}