{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
            <strong><a class="navbar-brand" href="{% url 'index' %}">Auction</a></strong>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarText">
                <ul class="nav " id="links">
                    <li class="nav-item" >
                        <a class="nav-link text-light" href="{% url 'index' %}" >Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'all_listings' %}">All Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'categories' %}">Categories</a>
                    </li>
                   
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'watchlist_page' %}">Watchlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'create' %}">Create Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'register' %}">Watchlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'register' %}">Create Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
              <span class="navbar-text">
                    
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>.
                    {% else %}
                        Not signed in.
                    {% endif %}
                  
              </span>
            </div>
            
          </nav>
          
        {% block body %}
        {% endblock %}
    </body>
</html>
