{% extends "auctions/layout.html" %}

{% block body %}

<div class="container-fluid">
    <div class="card text-black bg-light mb-3" style="margin-top: 2%;">
        <h5 class="card-header "> {{ listing.title }} by {{ listing.auction_owner }} {% if listing.active %} <span>(closed)</span> {% endif %} </h5>
        <div class="card-body">
            <div class="row">
            <div class="col-lg-6">
                <img src="{{ listing.image }}" alt="..." style="max-width: 50%;margin-left: 5%;margin-right: 5%;">
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6" >
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text badge badge-pill badge-dark" style="font-size: 25px;"><span><strong>${{ listing.current_bid }}</strong></span></p>
                        <p class="card-text">Starting Bid: <span><strong>${{ listing.starting_bid }}</strong></span></p>
                        <p class="card-text">Number of bids made: <span>{{ listing.no_of_bids }}</span></p>
                        <p class="card-text">Category: <span class="badge badge-info">{{ listing.category }}</span></p>
                        <p class="card-text"><label class="badge badge-pill badge-secondary"> Description:</label> <br> <br> <span>{{ listing.description }}</span></p>
                    </div>
                
                    <div class="col-lg-6" style="margin-top: 10%;margin-bottom: 10%;">
                        <div style="border: rgb(202, 200, 200) 1px solid;padding: 1%;border-style: inset;text-align: center;">
                            <h3 class="badge badge-success" style="text-align: center;font-size: 15px;">Status</h3>
                            {% if listing.active %}
                                {% if owned %}
                                    {% if listing.winning_bidder %}
                                        <p> Your item is sold to {{ listing.winning_bidder }} </p>
                                    {% else %}
                                        <p> Unfortunetly, your item was not sold to anyone.</p>
                                    {% endif %}
                                {% else %}
                                    {%  if listing.winning_bidder == user %}
                                        <p> You have won the auction!</p>
                                    {% elif listing.winning_bidder is None %}
                                        <p> There hasn't been any bid on this item. Bid is closed. </p>
                                    {% else %}
                                        <p> An anonymous user has won this auction!</p>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <p> Bidding is still available!</p>
                            {% endif %}
                        </div>

                        
                        {% if user.is_authenticated %}
                            
                            <fieldset {% if listing.active %} disabled class="disabled" {% endif %}>
                                <form class="form-group" action="{% url 'create_bid' listing.pk %}"  method="POST">
                                    {% csrf_token %}

                                    {% for field in form %}
                                    <div style="margin-top: 3%;">
                                        {{ field }}
                                        <h5 class="alert alert-info" style="border: darkgrey 1px solid;margin-top: 3%;list-style:circle;">{{ field.errors }}</h5>
                                    </div>
                                    {% endfor %}
                                    
                                    
                                    <input type="submit" name="" class="form-control btn btn-outline-primary" value="Place Bid" >
                                    
                                </form>
                            </fieldset>

                            
                         
                        {% else %}
                            {% if listing.active %}
                                <p>This item listing has been closed!</p>
                            {% else %}
        
                                <span style="margin-left:10%;margin-right:10%;"> Please <a href="{% url 'login' %}" class="btn btn-info" > sign in </a> or <a href="{% url 'register' %}" class="btn btn-info"> register</a></span>
                                
                            {% endif %}
                        {% endif %}
                        {% if user.is_authenticated %}
                            {%  if owned %}
                            <div class="row" style="margin-top: 3%;">
                                <div style="margin-left: 10%;">
                                {% if not listing.active %}
                                    <form class="form-group" method="POST" action="{% url 'active_listings' listing.pk %}" >
                                        {% csrf_token %}
                                        <button class="btn btn-danger">Close this listing</button>
                                    </form>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div style="margin-left: 3%;">
                                <form action="{% url 'watchlist' listing.pk %}" method="POST">
                                    {% csrf_token %}
                                    {% if watchlisted %}
                                        <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-warning">Add to Watchlist</button>
                                    {% endif %}
                                </form>
                            </div>
                            </div>
                        {% else %}
                            
                        {% endif %}
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6" style="float: right;">
    <div class="card text-white bg-dark mb-3" style="margin-top: 2%;">
        <div class="card-body">
 
                {% for comment in listing.comments.all %}
                <div class="row">
                    <div class="col ">
                        <h6 class="badge badge-secondary" style="font-size:13px"><strong>{{ comment.commenter }}</strong> says:</h6>
                        <p> {{ comment.content }}</p>
                    </div>
                </div>
                {% endfor %}

                {%  if user.is_authenticated %}
                <div class="row">
                    <div class="col">
                        <form action="{% url 'commenting' listing.pk %}" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="comment" class="col-12 badge badge-secondary"> Comment:</label>
                            </div>
                            <div class="form-group">
                                <textarea name="comment" placeholder="Please type your comment here." class="col-12 form-control"></textarea>
                            </div>
                            <div class="form-group row" style="float: right;margin-right: 1%;">
                                <input type="submit" value="Submit" class="form-control btn btn-light">
                            </div>
                        </form>
                    </div>
                </div>  
                {% else %}
                    <p>Please sign in to comment.</p>
                {% endif %} 
        </div>
    </div>
</div>
{% endblock %}